@import url("https://fonts.googleapis.com/css2?family=Almendra:ital@1&display=swap");

body {
  font-family: "Almendra", serif;
  background-image: url(/assets/madmax.jpeg);
  display: grid;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

main {
  display: grid;
}

p {
  width: 40%;
  justify-self: center;
  padding: 20px 0 40px 0;
}

.hidden {
  display: none;
}

#words {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-gap: 20px;
  width: 20%;
  color: darkgray;
  text-align: center;
}

.inputs {
  /* justify-self: center;
  align-self: center; */
}

#button {
  width: 75px;
  justify-self: center;
  margin: 20px 0 40px 0;
}
